<EditForm Model="@AlertMessage" OnValidSubmit="@SendAlert" class="row">
    <DataAnnotationsValidator />
    <div class="row">
        <InputSelect id="alertMessageTypeSelect" @bind-Value="@AlertMessage.Type" class="form-select">
            @foreach (var messageType in Enum.GetValues(typeof(MessageType)))
            {
                <option value="@messageType">@messageType</option>
            }
        </InputSelect>
        <label for="alertMessageTypeSelect" class="form-label ps-2">Type</label>
    </div>

    <div class="row">
        <InputText id="messageTextInput" @bind-Value="@AlertMessage.Text" class="form-control"></InputText>
        <div class="col-1">
            <label for="messageTextInput" class="form-label ps-2">Text</label>
        </div>
        <div class="col">
            <ValidationMessage class="text-danger text-end" For="@(() => AlertMessage.Text)" />
        </div>
    </div>
    <div class="row ps-0 pe-0">
        <div class="col">
            <div class="form-check form-switch">
                <div class="row  ms-1">
                    <InputCheckbox class="form-check-input" type="checkbox" id="dismissSwitch" @bind-Value="@AlertMessage.AutoDismiss"></InputCheckbox>
                    <label class="form-check-label" for="dismissSwitch">Auto-dismiss:</label>
                </div>
            </div>
        </div>
        <div class="col-3 ms-2 @(AlertMessage.AutoDismiss ? "visible": "invisible") pe-0">
            <div class="row">
                <InputText id="displayTimeInput" @bind-Value="@AlertMessage.Text" class="form-control"></InputText>
                <div class="col-1">
                    <label for="displayTimeInput" class="form-label ps-2">Time</label>
                </div>
                <div class="col">
                    <ValidationMessage class="text-danger text-end" For="@(() => AlertMessage.Text)" />
                </div>
            </div>
        </div>
        <div class="col-1">
            <label for="messageTextInput" class="form-label ps-2"></label>
        </div>
    </div>
    <div class="text-center row d-flex m-0 p-0 align-content-end">
        <div>
            <button type="submit" class="btn btn-primary">
                Open Alert Demo
            </button>
        </div>
    </div>
</EditForm>