<div class="row h-100 me-2">
    <EditForm Model="this" OnValidSubmit="@startSpinner" class="row">
        <div class="ms-3">
            <DataAnnotationsValidator />
            <div @ref="messageInput" @onmouseover="@(() => openToolTip(messageInput, "The message to be displayed on the spinner."))" class="row">
                <InputText @bind-Value="@message" id="messageTextInput" class="form-control"></InputText>
                <div class="col-1">
                    <label for="messageTextInput" class="form-label">
                        Text
                    </label>
                </div>
                <div class="col">
                    <ValidationMessage class="text-danger text-end" For="@(() => message)" />
                </div>
            </div>

            <div class="row">
                <div @ref="displayTimeInput" @onmouseover="@(() => openToolTip(displayTimeInput, "How long the spinner will be displayed before the countdown starts."))" class="col">
                    <div class="row">
                        <InputNumber @bind-Value="@displayTime" id="displayTimeInput" class="form-control"></InputNumber>
                        <div class="col text-start">
                            <label for="displayTimeInput" class="form-label">
                                Display
                            </label>
                            <ValidationMessage class="text-danger text-end" For="@(() => displayTime)" />
                        </div>
                    </div>
                </div>
                <div @ref="countdownTimeInput" @onmouseover="@(() => openToolTip(countdownTimeInput, "Time before the modal closes."))" class="col ms-3">
                    <div class="row">
                        <InputNumber @bind-Value="@countdownTime" id="countdownTimeInput" class="form-control"></InputNumber>
                        <div class="col text-start">
                            <label for="countdownTimeInput" class="form-label">
                                Countdown
                            </label>
                            <ValidationMessage class="text-danger text-end" For="@(() => countdownTime)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-end">
            <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary">
                    Open Spinner Demo
                </button>
            </div>
        </div>
    </EditForm>
</div>