<div @attributes="attributes" @onkeydown="onKeyDown" role="dialog" id="@id" tabindex="-1" class="modal fade hide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel" class="modal-title">@confirmationDialogOptions.Title</h5>
        <button type="button" @onclick="dismiss" class="btn-close" aria-label="Close"></button>
        <button id="confirmClose" type="button" data-bs-dismiss="modal" class="btn-close" hidden></button>
      </div>
      <div class="modal-body">
        @confirmationDialogOptions.Message
      </div>
      <div class="modal-footer">
        <button type="button" @onclick="cancel" class="btn btn-danger">@confirmationDialogOptions.CancelButtonText</button>
        <button type="button" @onclick="ok" class="btn btn-primary">@confirmationDialogOptions.OkButtonText</button>
      </div>
    </div>
  </div>
</div>
<button @ref="toggleButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm" hidden>
    Open Confirmation Demo
</button>