<div @attributes="attributes" @onkeydown="onKeyDown" class="modal fade hide" role="dialog" id="@Id" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@ConfirmationDialogOptions.Title</h5>
        <button type="button" @onclick="dismiss" class="btn-close" aria-label="Close"></button>
        <button id="confirmClose" type="button" class="btn-close" data-bs-dismiss="modal" hidden></button>
      </div>
      <div class="modal-body">
        @ConfirmationDialogOptions.Message
      </div>
      <div class="modal-footer">
        <button type="button" @onclick="cancel" class="btn btn-danger">@ConfirmationDialogOptions.CancelButtonText</button>
        <button type="button" @onclick="ok" class="btn btn-primary">@ConfirmationDialogOptions.OkButtonText</button>
      </div>
    </div>
  </div>
</div>
<button @ref="toggleButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm" hidden>
    Open Confirmation Demo
</button>